{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-12">
                    <h4 class="page-title">Welcome to FP Reports</h4>
                    <ol class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="row row-in">
                            <div class="col-lg-3 col-sm-6">
                                <div class="col-in text-center">
                                    <h5 class="text-danger">Employees</h5>
                                    <h3 class="counter">{{n_users}}</h3>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="col-in text-center b-r-none">
                                    <h5 class="text-muted text-warning">Reports</h5>
                                    <h3 class="counter">{{n_reports}}</h3>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="col-in text-center">
                                    <h5 class="text-muted text-purple">Avg worked hours</h5>
                                    <h3 class="counter">{{avg_work_hours}} hrs</h3>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="col-in text-center b-0">
                                    <h5 class="text-info">Avg hourly rate</h5>
                                    <h3 class="counter">{{avg_hourly_rate}}$</h3>
                                </div>
                            </div>
                        </div>
                        <div id="morris-area-chart" style="height: 345px;"></div>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <div class="white-box">
                        <h3>Late arrive time employees</h3>
                        {% if late_reports %}
                            {% for report in late_reports %}
                                <div class="message-center">
                                    <a href="#">
                                        <div class="user-img">  
                                            {% if report.user.user_image %}
                                                <img src="{{report.user.user_image.url}}" alt="user" style="height:33px;width:40px"> <span
                                                class="profile-status online pull-right"></span>            
                                            {% else %}
                                                <img src="{% static 'images/users/user-icon.png' %}" alt="user" class="img-circle"> <span
                                                    class="profile-status online pull-right"></span>
                                            {% endif %}
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>{{report.user.get_full_name}}</h5>
                                            <span class="mail-desc">{{report.user.role}}</span> <span class="time">
                                                {{report.late_arrive_time.time}} &nbsp {{report.obj_created_date}}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No reports on late arrival.</p>
                        {% endif %}


                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12">
                    <div class="white-box">
                        <h3>Early leave time employees</h3>
                        {% if early_reports  %}
                            {% for report in early_reports %}
                                <div class="message-center">
                                    <a href="#">
                                        <div class="user-img">
                                            {% if report.user.user_image %}
                                                <img src="{{report.user.user_image.url}}" alt="user" style="height:33px;width:40px"> <span
                                                class="profile-status online pull-right"></span>            
                                            {% else %}
                                                <img src="{% static 'images/users/user-icon.png' %}" alt="user" class="img-circle"> <span
                                                    class="profile-status online pull-right"></span>
                                            {% endif %}
                                        </div>
                                        <div class="mail-contnet">
                                            <h5>{{report.user.get_full_name}}</h5>
                                            <span class="mail-desc">{{report.user.role}}</span> <span class="time">
                                                {{report.early_leave_time.time}} &nbsp {{report.obj_created_date}}
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No reports on early leave.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
{% endblock content %}